
# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Unity cache
MemoryCaptures/

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.user
*.userprefs

# OS files
.DS_Store
Thumbs.db

# Unity auto generated
*.pidb
*.booproj
*.svd
*.pdb

# Crash reports
sysinfo.txt
